.details {
  display: flex;
  flex-direction: column;
}

.details-header {
  border: 0;
  padding: 0;

  &__title {
    color: #8d2828;
    padding: 2rem;
    display: flex;
    justify-content: center;
  }
}
.details-picture {
  width: 100%;
}

.details-menu {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;

  &__item {
    display: flex;
    padding: 0rem;
    gap: 10rem;
  }
}

.details-body {
  padding: 1rem;
}

.details-details {
  display: flex;
  flex-direction: column;
  align-content: center;
}
