.recipes-nav {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  &__list-item {
    overflow: hidden;
    box-shadow: 0px 0px 1.5rem rgba(0, 0, 0, 0.25);
    border-radius: 2.5rem;

    min-height: 12rem;
  }
  &__link {
    display: flex;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
  }
  &__item-img {
    width: 40%;
  }
  &__item-info {
    position: relative;
    width: 60%;
    padding: 1rem 1.5rem;
  }
  &__info-header {
    font-size: 1.8rem;
    font-family: 'Sintony', sans-serif;
    margin-bottom: 1rem;
  }
  &__star {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}
